In [1]:
student = {"name": "Ali", "age": 20, "grade": "A"}

In [2]:
print(student.keys())

dict_keys(['name', 'age', 'grade'])

In [4]:
for keys in student.keys():
    print (keys)

name
age
grade

In [5]:
prices = {"apple": 50, "banana": 20, "mango": 60}

In [6]:
print(prices.values())

dict_values([50, 20, 60])

In [7]:
total_price = sum(prices.values())

In [8]:
print(total_price)

130

In [9]:
person = {"name": "Sara", "city": "Delhi", "age": 25}

In [10]:
print(person.items())

dict_items([('name', 'Sara'), ('city', 'Delhi'), ('age', 25)])

In [14]:
for k, v in person.items():
    print(k,v)

name Sara
city Delhi
age 25

In [15]:
student = {"name": "Ali", "age": 20}
new_info = {"grade": "A", "city": "Mumbai"}

In [18]:
student.update(new_info)

In [20]:
print(student)

{'name': 'Ali', 'age': 20, 'grade': 'A', 'city': 'Mumbai'}

In [21]:
student.update({"email":"ali@example.com"})

In [22]:
print(student)

{'name': 'Ali', 'age': 20, 'grade': 'A', 'city': 'Mumbai', 'email': 'ali@example.com'}

In [23]:
car = {"brand": "Toyota", "model": "Corolla", "year": 2020}

In [25]:
car.pop("year")

2020

In [26]:
print(car)

{'brand': 'Toyota', 'model': 'Corolla'}

In [27]:
data = {"a": 1, "b": 2, "c": 3}

In [28]:
data.clear()

In [29]:
print(data)

{}

In [30]:
student = {"name": "Ramsha", "age": 25, "course": "Data Science"}

In [31]:
print(student.keys())

dict_keys(['name', 'age', 'course'])

In [32]:
print(student.values())

dict_values(['Ramsha', 25, 'Data Science'])

In [33]:
print(student.items())

dict_items([('name', 'Ramsha'), ('age', 25), ('course', 'Data Science')])

In [34]:
student.update({"grade": "A"})

In [35]:
print(student)

{'name': 'Ramsha', 'age': 25, 'course': 'Data Science', 'grade': 'A'}

In [38]:
student.pop("course")

'Data Science'

In [39]:
print(student)

{'name': 'Ramsha', 'age': 25, 'grade': 'A'}

In [40]:
student.clear()

In [41]:
print(student)

{}

Sets

In [42]:
fruits = {"apple", "banana"}

In [45]:
fruits.add("mango")
fruits.add("orange")
print(fruits)

{'apple', 'mango', 'orange', 'banana'}

In [46]:
numbers = {1, 2, 3, 4, 5}
numbers.remove(3)
print(numbers)

{1, 2, 4, 5}

In [50]:
animals = {"dog", "cat", "lion"}
animals.discard("cat")
print(animals)

{'lion', 'dog'}

In [51]:
animals.discard("tiger")
print(animals)

{'lion', 'dog'}

In [52]:
set1 = {"red", "blue"}
set2 = {"green", "blue"}
# Find union of set1 and set2
new_set= set1.union(set2)
print(new_set)

{'green', 'red', 'blue'}

In [55]:
students_A = {"Ali", "Sara", "John"}
students_B = {"Sara", "David", "John"}
# Find students enrolled in both A and B
new_students = students_A.intersection(students_B)
print(new_students)

{'John', 'Sara'}

In [56]:
python_class = {"Ali", "Sara", "John", "David"}
java_class = {"Sara", "David"}
# Find students who are in Python class but not in Java class
new_class = python_class.difference(java_class)
print(new_class)

{'John', 'Ali'}

In [57]:
colors = {"red", "green", "blue"}
# Clear all elements from the set
colors.clear()
print(colors)

set()