In [1]:
country = (("India","New Delhi"),("Nepal","Kathmandu"),("Japan","Tokyo"))

print(country)

(('India', 'New Delhi'), ('Nepal', 'Kathmandu'), ('Japan', 'Tokyo'))

In [2]:
print(country[1][1])

Kathmandu

In [3]:
nums = ((10, 20), (30, 40), (50, 60))

print(nums[1][1])

40

In [4]:
nested = (("x", (1, 2)), ("y", (3, 4)))
print(nested)

(('x', (1, 2)), ('y', (3, 4)))

In [5]:
print(nested[0][1][1])

2

In [9]:
print(nested[1][0])

y

In [11]:
students = (("Shumail",14,89),("Prajwal",16,90),("Lepakshi",17,99))

print(students)

(('Shumail', 14, 89), ('Prajwal', 16, 90), ('Lepakshi', 17, 99))

In [12]:
print(students[1][2])

90